/* Reset some default styles
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
} */

/* Center the login container vertically and horizontally */
/* .login-container {
    width: 100vw;
    height: 30vh;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 200px;
} */
/* Style the login form */
/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #333;
    font-size: 25px;
    margin-bottom: 20px;
}

.password-text {
    width: 130%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn{
    width: 130%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* Responsive styles for smaller screens */
/* @media (max-width: 768px) {
    .login-container {
        width: 100vw;
        height: 30vh;
        /* margin-top: 10%; */
/* }   */
/* } */
/* @media (min-width: 500px) {
    .login-container {
        width: 100vw;
        height: 30vh; */
/* margin-top: 10%; */
/* }  
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image_chotu img {
  width: 12.5vw;
  mix-blend-mode: darken;
}

body {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.first {
  margin-top: 0.5vw;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.first p {
  font-size: 2vw;
}

.image_chotu {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.aaa {
  width: 22vw;
}

.third {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

input[type="password"] {
  border: 0;
  border-bottom: 1px solid black;
  font-family: "Poppins", sans-serif;
  background: transparent;
}
input[type="password"]:focus {
  outline: 0;
}

.aate {
  border: 0;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid black;
  background: transparent;
  width: 22vw;
}
.aate:focus {
  border: none;
  outline: 0;
  border-bottom: 1px solid black;
}

.buttoniya {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.confirm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2.5vw;
}

button {
  border: 0;
  padding: 1vw 4vw;
  background-color: #0b9ff3;
  color: white;
  border-radius: 6vw;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
h3,
h2 {
  display: flex;
  justify-content: center;
}

.logo {
  width: 15vw;
}

@media (max-width: 412px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  }

  .first p {
    font-size: 6vw;
  }

  .first {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }
  .image_chotu {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
  }

  .image_chotu img {
    width: 43.5vw;
    mix-blend-mode: darken;
  }

  .third {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }

  input[type="password"] {
    border: 0;
    border-bottom: 1px solid black;
    font-family: "Poppins", sans-serif;
    background: transparent;
  }
  input[type="password"]:focus {
    outline: 0;
  }

  .aaa {
    width: 80vw;
  }

  .aate {
    border: 0;
    font-family: "Poppins", sans-serif;
    width: 80vw;
    border-bottom: 1px solid black;
    background: transparent;
  }
  .aate:focus {
    border: none;
    outline: 0;
    border-bottom: 1px solid black;
  }

  .buttoniya {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }

  .confirm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15vw;
  }

  button {
    border: 0;
    padding: 4vw 15vw;
    background-color: #0b9ff3;
    color: white;
    border-radius: 6vw;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  h3,
  h2 {
    display: flex;
    justify-content: center;
  }
}
